[submodule "fluxbox"]
	path = fluxbox
	url = https://github.com/mtalexan/fluxbox
[submodule "awesome"]
	path = awesome
	url = https://github.com/mtalexan/awesomeWM.git
[submodule "i3"]
	path = i3
	url = https://github.com/mtalexan/i3wm.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/mtalexan/rofi.git
